.nav{
    height: 10vh;
    &__list{
        text-align: right;
        padding: 1rem;
    }
    &__item{
        display: inline;
        padding: 1rem;
    }
    &__link{
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500;
        @include transition(1s);


        &:hover{
            color: blue;
        }
        &--active{
            color: orange;
        }
    }
}